* {
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

body {
    display: grid;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
}
label {
    padding: 3px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #423f3f;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
input {
    border: 1px solid plum;
    border-radius: 5px;
}
button {
    padding: 5px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid ;
}

.box_contents {
    height: 200px;
}

.box_no .box_title .box_contents {
    width: 400px;
    overflow: scroll;
}

label:hover {
    background-color: #e9e9e9;
    color: #fff;
}

button {
    color: #423f3f;
    border: none;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

button:hover {
    color: #fff;
}
hr {
    color: plum;
}

.contents *{
    vertical-align: middle;
    
}

textarea {
    float: right;
    border: 1px solid plum;
    overflow: scroll;
}

