@charset "uft-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    }
html {
    padding: 100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ecf2ff 0%, #bface2 100%);
    /* background-repeat: no-repeat; */
}
body {
    border-radius: 20px;
    font-family: 'Cafe24Ssurround';
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
    }

thead {
    color: #655dbb;
    text-shadow: 2px 2px 2px #bface2;
    font-size: 20px;
}

div {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vh;
    border: 1px solid #bface2;
    border-radius: 50px;
}

img {
    width: 30vw;
    height: 10vh;
}
a:hover {
    color : #bface2;
}
td:hover {
    color: #bface2;
    opacity: .5;
}


